.box {
  height: 50px;
  margin: 5px;
  background: linear-gradient(
      90deg,
      #0000 33%,
      rgba(255, 255, 255, 0.3) 50%,
      #0000 66%
    )
    rebeccapurple;
  background-size: 300% 100%;
  animation: shine 2s infinite;
}

@keyframes shine {
  0% {
    background-position: right;
  }
  100% {
    background-position: left;
  }
}
