/* @import url("https://fonts.googleapis.com/css2?family=Anta&family=Archivo:ital,wght@0,100..900;1,100..900&family=Courier+Prime:ital,wght@0,400;0,700;1,400;1,700&family=Cutive&family=Kanit&family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&family=Poppins:wght@400;500;700&family=REM:ital,wght@0,100..900;1,100..900&family=Radio+Canada+Big:ital,wght@0,400..700;1,400..700&family=Raleway:ital,wght@0,100..900;1,100..900&family=Special+Elite&display=swap"); */

.horizontal-scroll-container {
  overflow: hidden;
  white-space: nowrap;
  position: relative;
  width: 100%;
}

.horizontal-scroll-content {
  display: flex;
  white-space: nowrap;
  font-size: 2.6vw;
}

.horizontal-scroll-span-text {
  display: inline-block;
  padding: 10px 2.2vw;
  white-space: nowrap;
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-style: normal;
  color: #61d8ad;
}
