@import url("https://fonts.googleapis.com/css2?family=Anta&family=Archivo:ital,wght@0,100..900;1,100..900&family=Kanit&family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&family=Poppins:wght@400;500;700&family=Radio+Canada+Big:ital,wght@0,400..700;1,400..700&display=swap");

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent black overlay */
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  z-index: 10001; /* Higher than the navbar */
  overflow-y: auto;
  backdrop-filter: blur(10px);
}

.signup-modal {
  background-color: white;
  border-radius: 15px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);

  max-height: 90vh;
  /* height: auto; */
  padding: 0;
  border-radius: 40px;
  /* margin-top: 50vh; */

  border: 1px solid #c7c2c2;
}

.modal button {
  margin-top: 10px;
}

.navbar-container {
  position: fixed;
  top: 0vh;
  border-bottom: 1.5px solid rgb(186, 185, 185);
  padding: 1vw 0;
  display: flex;
  justify-content: center;
  height: 5.5vh;
  width: 100%;
  background: #fff;
  z-index: 10000;
}

.navbar-container .active {
  border-bottom: 3px solid #a1e5cd;
}

.navbar-container .NavContainer {
  width: 70%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar-container .NavContainer nav {
  display: flex;
  width: 40%;
  justify-content: space-between;
}

.navbar-container .NavContainer li {
  list-style-type: none;
  font-size: 1.2rem;
}

.navbar-container .NavContainer li a {
  text-decoration: none;
  color: #000;
  cursor: pointer;
}

.navbar-container .NavContainer .logo,
.navbar-container .NavContainer .profile {
  display: flex;
  align-items: center;
}

.navbar-container .NavContainer .logo img {
  height: 6vh;
  width: 4vw;
  margin-right: 0.5vw;
}

.navbar-container .NavContainer .logo h4 {
  font-size: 1.4rem;
  font-weight: 550;
}

.navbar-container .NavContainer .profile {
  cursor: pointer;
}
.navbar-container .NavContainer .login-signup-buttons button {
  padding: 0.6rem 1.6rem;
  margin: 1rem;
  background-color: #a1e5cd;
  border-radius: 0.3rem;
  font-family: poppins;
  font-size: 0.9rem;
  font-weight: 500;
  cursor: pointer;
}
.navbar-container .NavContainer .profile .name {
  font-size: 1.3rem;
}

.navbar-container .NavContainer .profile img {
  height: 5vh;
  width: 2.5vw;
  border-radius: 50%;
  margin-left: 0.5vw;
}
.Navbar-Logout-Btn {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: 45px;
  height: 45px;
  border: none;
  border-radius: 50%;
  cursor: pointer;
  position: relative;
  overflow: hidden;
  transition-duration: 0.3s;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.199);
  background-color: #a1e5cd;
  margin-left: 1vw;
}

/* plus sign */
.Navbar-Logout-sign {
  width: 100%;
  transition-duration: 0.3s;
  display: flex;
  align-items: center;
  justify-content: center;
}

.Navbar-Logout-sign svg {
  width: 17px;
}

/* .Navbar-Logout-sign svg path {
  fill: white;
} */
/* text */
.Navbar-Logout-text {
  position: absolute;
  right: 0%;
  width: 0%;
  opacity: 0;
  color: black;
  font-size: 1.2em;
  font-weight: 600;
  transition-duration: 0.3s;
  font-family: poppins;
}
.Navbar-Logout-Btn:hover {
  width: 140px;
  border-radius: 40px;
  transition-duration: 0.3s;
}

.Navbar-Logout-Btn:hover .Navbar-Logout-sign {
  width: 30%;
  transition-duration: 0.3s;
  padding-left: 20px;
}
.Navbar-Logout-Btn:hover .Navbar-Logout-text {
  opacity: 1;
  width: 70%;
  transition-duration: 0.3s;
  /* margin-top: 0.2vh; */
}
.Navbar-Logout-Btn:active {
  transform: translate(2px, 2px);
}
.login-signup-button-nav {
  position: relative;
  display: inline-block;
  cursor: pointer;
  outline: none;
  border: 0;
  vertical-align: middle;
  text-decoration: none;
  font-family: inherit;
  font-size: 15px;
}

button.login-signup-button-nav {
  font-weight: 600;
  color: #382b22;
  text-transform: uppercase;
  padding: 1.25em 2em;
  background: #fff0f0;
  border: 2px solid rgba(0, 0, 0, 0.6);
  border-radius: 0.75em;
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
  -webkit-transition: background 150ms cubic-bezier(0, 0, 0.58, 1),
    -webkit-transform 150ms cubic-bezier(0, 0, 0.58, 1);
  transition: transform 150ms cubic-bezier(0, 0, 0.58, 1),
    background 150ms cubic-bezier(0, 0, 0.58, 1),
    -webkit-transform 150ms cubic-bezier(0, 0, 0.58, 1);
}

button.login-signup-button-nav::before {
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #a1e5cd;
  border-radius: inherit;
  -webkit-box-shadow: 0 0 0 2px rgba(0, 0, 0, 0.4), 0 0.625em 0 0 #fff;
  box-shadow: 0 0 0 2px rgba(0, 0, 0, 0.4), 0 0.625em 0 0 #fff;
  -webkit-transform: translate3d(0, 0.75em, -1em);
  transform: translate3d(0, 0.75em, -1em);
  transition: transform 150ms cubic-bezier(0, 0, 0.58, 1),
    box-shadow 150ms cubic-bezier(0, 0, 0.58, 1),
    -webkit-transform 150ms cubic-bezier(0, 0, 0.58, 1),
    -webkit-box-shadow 150ms cubic-bezier(0, 0, 0.58, 1);
}

button.login-signup-button-nav:hover {
  background: #ffe9e9;
  -webkit-transform: translate(0, 0.25em);
  transform: translate(0, 0.25em);
}

button.login-signup-button-nav:hover::before {
  -webkit-box-shadow: 0 0 0 2px rgba(0, 0, 0, 0.4), 0 0.5em 0 0 #fff;
  box-shadow: 0 0 0 2px rgba(0, 0, 0, 0.4), 0 0.5em 0 0 #fff;
  -webkit-transform: translate3d(0, 0.5em, -1em);
  transform: translate3d(0, 0.5em, -1em);
}

button.login-signup-button-nav:active {
  background: #ffe9e9;
  -webkit-transform: translate(0em, 0.75em);
  transform: translate(0em, 0.75em);
}

button.login-signup-button-nav:active::before {
  -webkit-box-shadow: 0 0 0 2px rgba(0, 0, 0, 0.4), 0 0 #fff;
  box-shadow: 0 0 0 2px rgba(0, 0, 0, 0.4), 0 0 #fff;
  -webkit-transform: translate3d(0, 0, -1em);
  transform: translate3d(0, 0, -1em);
}
